@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 10000;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    
}

.nav-items {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}

.nav-items a {
    padding-right: 40px;
    font-family: 'Bakbak One', cursive;
    font-size: 30px;
    scroll-behavior: smooth;
    text-decoration: none;
}

.nav-items a:nth-child(1){
    color: #3D1773;
}
.nav-items a:nth-child(2){
    color: #650BBF;
}
.nav-items a:nth-child(3){
    color: #447EF2;
}
.nav-items a:nth-child(4){
    color: #05F2DB
}