.projectsDiv {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../Assets/Synthwave4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  margin-top: -40px;
  color: white;
  height: 100vh;
}

.projectsDiv h1 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 50px;
  font-size: 50px;
}

.calcDemo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcDemoDesc {
  display: flex;
  flex-flow: column wrap
}

.calcDemoGif img{
  height: 500px;
  width: 500px;
  padding-top: 30px;
}