@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
 
/* Desktop View*/

.skillsDiv {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../Assets/Synthwave3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  margin-top: -50px;
  height: 100vh;
}

.skillTitle {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 50px;
  font-family: 'Bakbak One', sans-serif;
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 100px;
}
.skills {
  height: 150px;
}

.skillsContainer li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-family: 'Bakbak One', cursive;
  font-size: 25px;
}

/* Mobile View */
@media (max-width: 648px){
  .skillsDiv {
    background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../Assets/Synthwave3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    margin-top: -50px;
    height: 100vh;
    width: 100vh;
  }
}